@import "../../lib/variables";

.NavbarSelector {
  display: flex;
  flex-direction: column;
}

.OptionsContainer {
  position: relative;
}

.OptionsList {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
}
