@import "../../lib/variables";

.Link {
  padding: 15px 30px 15px 30px;
  font-weight: bold;
  &:hover {
    background-color: black;
    color: white;
  }
}

.isCurrent {
  background-color: black;
  color: white;
}

.isSelectorOption {
  margin-left: -10px;
  background-color: black;
  color: white;
  &:hover {
    background-color: black;
    color: white;
  }
}
