.Footer {
  margin-top: auto;

  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

  background-color: black;
}

.FooterLinkList {
  display: flex;
  align-items: center;
  width: 800px;
  justify-content: space-around;
}

.FooterLink {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
