.ArticleCardLarge {
  position: relative;
  width: 1120px;
  height: 260px;
  display: flex;
  -webkit-box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.ArticleCardImageContainer {
  width: 500px;
  height: 100%;
  overflow: hidden;
}

.ArticleCardImage {
  position: absolute;
  top: 0;
  object-fit: cover;
}

.ArticleCardDataContainer {
  width: 620;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.ArticleCardTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 45px;
  font-size: 36px;
  font-weight: 400;
}

.ArticleCardDate {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  padding: 5px 20px;
  margin-top: 20px;
}

.ArticleCardDescription {
  font-size: 20px;
}
