.ArticleCardCategoryIcon {
  margin-right: 5px;
}

.ArticleCardCategoryLabel {
  position: absolute;
  left: 0;
  padding: 6px 12px;
  background-color: red;
  z-index: 1;
  border-radius: 0% 0% 15px 0%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.GRABBAG-color {
  background-color: #f27059;
}

.DEVDIARY-color {
  background-color: #5e8c61;
}

.GAMEDEV-color {
  background-color: #8d3b72;
}

.LIFESTYLE-color {
  background-color: #ff007f;
}

.CLOUD-color {
  background-color: #00bfff;
}

.DEVELOPING-color {
  background-color: #2a2a72;
}
