.CategoriesPageItem {
  height: 250px;
  width: 500px;
  margin: 10px;
  -webkit-box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.CategoriesPageItemImageContainer {
  width: 500px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.CategoriesPageItemImage {
  top: 0;
  object-fit: cover;
  z-index: 0;
}

.CategoriesPageItemDataContainer {
  position: absolute;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 5;
}

.CategoriesPageItemTitle {
  line-height: 65px;
  font-size: 64px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.Developing-backgroundcolor {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(42, 42, 114, 1) 100%);
}

.Cloud-backgroundcolor {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 191, 255, 1) 100%);
}

.Lifestyle-backgroundcolor {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(200, 0, 0) 100%);
}

.GameDevelopment-backgroundcolor {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(141, 59, 114, 1) 100%);
}

.DeveloperDiary-backgroundcolor {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(94, 140, 97, 1) 100%);
}

.GrabBag-backgroundcolor {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(242, 112, 89, 1) 100%);
}
