.LatestPosts_Section {
  width: 100vw;
  height: 770px;

  background-color: honeydew;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ArticleList {
  display: flex;
}
