.ArticleImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.mdxImageDescription {
  margin-top: 10px;
  font-size: 18px;
  color: rgb(80, 80, 80);
}
