.Hero_Section {
  width: 100vw;
  height: 640px;

  position: relative;
}

.PreviousButton {
  position: absolute;
  left: 50px;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 20;
}

.NextButton {
  position: absolute;
  right: 50px;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 20;
}

.ElementsNavigation {
  position: absolute;
  bottom: 0;
  left: 173px;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  column-gap: 15px;
  align-items: baseline;
  width: 200px;
}
